<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ title }}</title>

    <link href="./bootstrap3/css/bootstrap.css" rel="stylesheet" />
    <style>
    p {
        font-size: 20px !important;
    }
    </style>
</head>
<body>
    <div class="container">
        <h2>{{ title }}</h2>
    </div>
    <div class="container">
        <div id="main-car" class="carousel slide" data-interval="" data-ride="carousel">
            <div class="carousel-inner">
        {% for slide in slides %}
            {% if loop.first %}
                <div class="item active">
            {% else %}
                <div class="item">
            {% endif %}
                    <img alt="First slide" src="{{ slide.img_src }}" />
                    <div class="container">
                        <div class="carousel-caption">
                            <h3>{{ loop.index }}/{{ loop.length }}</h3>
                            <p>{{ slide.description }}</p>
                        </div>
                    </div>
                </div>
        {% endfor %}
            <a class="left carousel-control" href="#main-car" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="right carousel-control" href="#main-car" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
</body>
<script src="./jquery-3.1.0.js"></script>
<script src="./bootstrap3/js/bootstrap.js"></script>
</html>